{% extends "base.html"%}

{% block content %}
    <br>
    <h1>Index</h1>
    {% if data %}
    <h5>Чтоб подключиться с телефона впишите Сетевые данные</h5>
    <p>Локальный IP в сети: <a href="http://{{ data['ip_all']['ip_local'] }}:{{data['port']}}">{{ data['ip_all']['ip_local'] }}:{{data['port']}}</a> | <a href="http://127.0.0.1:5000/">127.0.0.1:5000</a></p>
    {% endif %}


            


    <p>Выберите функцию:</p>
	<ul>
	    <li><a href="{{ url_for('execute_func', url='youtube.com') }}">YouTube</a></li>
	    <li><a href="{{ url_for('execute_func', url='vk.com') }}">Vk</a></li>
	    <li><a href="{{ url_for('execute_func', url='web.telegram.org') }}">Telegram</a></li>
	</ul>

    
    <h4>Динамические ссылки</h4>
    <ul>
        {% for item in items %}
	    <li><a target="_blank" href="{{ item['url'] }}">{{ item['name'] }}</a></li>
        {% endfor %}
	</ul>



    <h1>Settings</h1>
        <form method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name"><br><br>
            <label for="url">URL:</label>
            <input type="text" name="url" id="url"><br><br>
            <button type="submit">Add</button>
        </form>
        <ul>
        {% for item in items %}
        <li>

        <form method="POST" action="/edit/{{ loop.index0 }}">
            <input type="text" name="name" value="{{ item['name'] }}">
            <input type="text" name="url" value="{{ item['url'] }}">
            <button type="submit">Save</button>
        </form>

        <form method="POST" action="/delete/{{ loop.index0 }}">
            <button type="submit">Delete</button>
        </form>

        {% if loop.index > 1 %}
        <form method="POST" action="/move/up/{{ loop.index0 }}">
            <button type="submit">Up</button>
        </form>
        {% endif %}

        {% if loop.index < items|length %}
        <form method="POST" action="/move/down/{{ loop.index0 }}">
            <button type="submit">Down</button>
        </form>
        {% endif %}

        </li>
        {% endfor %}
        </ul>
{% endblock %}
